/* #myDiv{
    background-color: aqua;
    width: 100px;
    height: 100px;
} */

/* #innerdiv{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: 1px solid;
}
#outerdiv{
    background-color: aqua;
    width: 200px;
    height: 200px;
    border: 1px solid;
} */
/* #myimg{
    width: 100px;
    height: 100px;
} */

/* #myDiv{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid;
} */

/* #myCanvas{
    height: 100px;
    width: 100px;
    border: 2px solid;
} */